
<!-- <p>{{title}}</p> -->
<app-header></app-header>
<h2>{{msg}}</h2>
<h2>{{message}}</h2>
<h3>{{age}}</h3>
<h4>{{name}}</h4>


<hr/>
<div [title]="tip">张三</div>
<h2>{{message}}</h2>
<h3>{{user.age}}</h3>
<hr/>
<div >{{content}}</div>
<span [innerHtml]="content" class="red"></span>
1+2={{1+2}}
<ul *ngFor="let name of arr">
    <li >
        {{name}}
    </li>
</ul>
<hr>
<ol>
    <li *ngFor="let item of persons; let key=index">
        {{key}}---{{item}}
    </li>
</ol>
<hr>

<ol>
    <li *ngFor="let item of users">
        {{item}}
    </li>
</ol>
<hr>
<ul>
    <li *ngFor="let item of news">
        {{item.name}}-的总字数{{item.size}}
    </li>
</ul>

<hr>

<ul *ngFor="let item of cars">
    <h2> {{item.cate}}</h2>
    <ol>
        <li *ngFor="let car of item.list">
        {{car.name}}--{{car.price}}
        </li>
    </ol>
</ul>
